body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5%;
    font-weight: 700;
}
section{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.left-line{
    border-left: 3px solid pink;
    
}
.develop-without-limit{
    background-image: url(images/shape-1.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: left;
}
.community{
    background-image: url(images/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 93%;
    background-position-y: 57vh;
    
    
}
.connect{
    font-size: 50px;
    text-align: center;
}
.Application{
    background-image: url(images/shape-3.png);
    background-size: 245px;
    background-position: right;
}
.box{
    width: 60%;
    margin: 2%;
    height: auto;
    border-radius: 5%;
    
    
}
.boxx{
    width: 60%;
    margin: 2%;
    height: auto;
    border-radius: 5%;
    
    
    
    
}
.boxxx{
    width: 60%;
    margin: 2%;
    height: auto;
    border-radius: 5%;
    
    
    
    
}
footer{
    background-color: black;
    padding: 10px;
}
footer h1{
text-align: center;
}
footer p{
    color: white;
}
p{
    text-align: left;
}